:local {
  .status-view {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .icon {
    height: var(--terra-status-view-icon-height, 100px);
    width: var(--terra-status-view-icon-width, 100px);
  }

  .glyph {
    flex: 0 0 auto;
    padding-bottom: 20px;
  }

  .glyph > svg {
    color: var(--terra-status-view-glyph-color, #000);
  }

  .message-content-group {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .title {
    color: var(--terra-status-view-title-color, #000);
    flex: 0 0 auto;
    flex-wrap: wrap;
    font-family: var(--terra-status-view-title-font-family, 'Roboto');
    font-size: var(--terra-status-view-title-font-size, 24px);
    text-align: center;
  }

  .message {
    color: var(--terra-status-view-message-color, #000);
    flex: 0 0 auto;
    flex-wrap: wrap;
    font-family: var(--terra-status-view-message-font-family, 'Roboto');
    font-size: var(--terra-status-view-message-font-size, 14px);
    padding-top: 10px;
    text-align: center;
  }

  .divider {
    border-color: var(--terra-status-view-divider-color, #fff);
    display: var(--terra-status-view-divider-display, none);
    padding-top: 20px;
    width: 100%;
  }

  .buttons {
    display: flex;
    flex: 0 0 auto;
    padding-top: 20px;
  }

  .buttons > button {
    background-color: var(--terra-status-view-button-background-color, rgba(255, 255, 255, 0.8));
    border: var(--terra-status-view-button-border, solid 1px #1c1f21);
    border-radius: var(--terra-status-view-button-border-radius, 3px);
    margin-left: 5px;
    margin-right: 5px;
  }
}
